
DNPAssignment/Domain/obj/rider.project.restore.info
DNPAssignment/Domain/obj/project.packagespec.json
DNPAssignment/Domain/obj/project.nuget.cache
DNPAssignment/Domain/obj/project.assets.json
DNPAssignment/Domain/obj/Domain.csproj.nuget.g.props
DNPAssignment/Domain/obj/Domain.csproj.nuget.dgspec.json
DNPAssignment/Domain/obj/Debug/net6.0/Domain.GeneratedMSBuildEditorConfig.editorconfig
DNPAssignment/Domain/obj/Debug/net6.0/Domain.csproj.AssemblyReference.cache
DNPAssignment/Domain/obj/Debug/net6.0/Domain.assets.cache
DNPAssignment/BlazorApp/obj/rider.project.restore.info
DNPAssignment/BlazorApp/obj/project.packagespec.json
DNPAssignment/BlazorApp/obj/project.nuget.cache
DNPAssignment/BlazorApp/obj/project.assets.json
DNPAssignment/BlazorApp/obj/Debug/net6.0/BlazorApp.GeneratedMSBuildEditorConfig.editorconfig
DNPAssignment/BlazorApp/obj/Debug/net6.0/BlazorApp.csproj.AssemblyReference.cache
DNPAssignment/BlazorApp/obj/Debug/net6.0/BlazorApp.assets.cache
DNPAssignment/BlazorApp/obj/BlazorApp.csproj.nuget.g.props
DNPAssignment/BlazorApp/obj/BlazorApp.csproj.nuget.dgspec.json
DNPAssignment/Application/obj/rider.project.restore.info
DNPAssignment/Application/obj/project.packagespec.json
DNPAssignment/Application/obj/project.nuget.cache
DNPAssignment/Application/obj/project.assets.json
DNPAssignment/Application/obj/Debug/net6.0/Application.GeneratedMSBuildEditorConfig.editorconfig
DNPAssignment/Application/obj/Debug/net6.0/Application.csproj.AssemblyReference.cache
DNPAssignment/Application/obj/Debug/net6.0/Application.assets.cache
DNPAssignment/Application/obj/Application.csproj.nuget.g.props
DNPAssignment/Application/obj/Application.csproj.nuget.dgspec.json
DNPAssignment/EfcDataAccess/obj/Debug/net6.0/EfcDataAccess.assets.cache
DNPAssignment/EfcDataAccess/obj/Debug/net6.0/EfcDataAccess.csproj.AssemblyReference.cache
DNPAssignment/EfcDataAccess/obj/Debug/net6.0/EfcDataAccess.GeneratedMSBuildEditorConfig.editorconfig
DNPAssignment/EfcDataAccess/obj/EfcDataAccess.csproj.nuget.dgspec.json
DNPAssignment/EfcDataAccess/obj/EfcDataAccess.csproj.nuget.g.props
DNPAssignment/EfcDataAccess/obj/project.assets.json
DNPAssignment/EfcDataAccess/obj/project.nuget.cache
DNPAssignment/EfcDataAccess/obj/project.packagespec.json
DNPAssignment/EfcDataAccess/obj/rider.project.restore.info
DNPAssignment/FileData/obj/Debug/net6.0/FileData.assets.cache
DNPAssignment/FileData/obj/Debug/net6.0/FileData.csproj.AssemblyReference.cache
DNPAssignment/FileData/obj/Debug/net6.0/FileData.GeneratedMSBuildEditorConfig.editorconfig
DNPAssignment/FileData/obj/FileData.csproj.nuget.dgspec.json
DNPAssignment/FileData/obj/FileData.csproj.nuget.g.props
DNPAssignment/FileData/obj/project.assets.json
DNPAssignment/FileData/obj/project.nuget.cache
DNPAssignment/FileData/obj/project.packagespec.json
DNPAssignment/FileData/obj/rider.project.restore.info
DNPAssignment/WebAPI/obj/Debug/net6.0/apphost.exe
DNPAssignment/WebAPI/obj/Debug/net6.0/WebAPI.assets.cache
DNPAssignment/WebAPI/obj/Debug/net6.0/WebAPI.csproj.AssemblyReference.cache
DNPAssignment/WebAPI/obj/Debug/net6.0/WebAPI.GeneratedMSBuildEditorConfig.editorconfig
DNPAssignment/WebAPI/obj/project.assets.json
DNPAssignment/WebAPI/obj/project.nuget.cache
DNPAssignment/WebAPI/obj/project.packagespec.json
DNPAssignment/WebAPI/obj/rider.project.restore.info
DNPAssignment/WebAPI/obj/WebAPI.csproj.nuget.dgspec.json
DNPAssignment/WebAPI/obj/WebAPI.csproj.nuget.g.props
