.acceptbtn[b-w6l7chfipm] {
    background-color: mediumpurple;
    border-radius: 5px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}
.button-row[b-w6l7chfipm] {
    margin-top: 15px;
}