.acceptbtn[b-y6094xlz7d] {
    background-color: mediumpurple;
    border-radius: 5px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}
.button-row[b-y6094xlz7d] {
    margin-top: 15px;
    margin-bottom: 15px;
}