@page "/CreatePost"
@using Domain.DTOs
@using BlazorApp.Services.ClientInterfaces
@inject IUserService userService
@inject IPostService postService
@inject NavigationManager navMgr
@inject AuthenticationStateProvider accessor
@attribute [Authorize]

<div class="card">
    <h3>Create Post</h3>
    <div class="form-group field">
        <label>Title:</label>
        <input type="text" @bind="postTitle"/>
    </div>
    <div class="form-group field">
        <textarea class="form-control" rows="5" id="comment" @bind="body"></textarea>
        
    </div>
    
        @if (!string.IsNullOrEmpty(msg))
        {
            <label style="color: red">@msg</label>
        }
        <div class="button-row">
            <button @onclick="Create" class="acceptbtn">Create</button>
        </div>
        
</div>

@code {
    private string? selectedUserName;
    private string postTitle = "";
    private string body = "";

    private string msg = "";

    protected override async Task OnInitializedAsync()
    {
        msg = "";
        try
        {
           selectedUserName = accessor.GetAuthenticationStateAsync().Result.User.Identity.Name;
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            msg = e.Message;
        }
    }

    private async Task Create()
    {
        msg = "";
        try
            {
                PostCreationDto dto = new(selectedUserName, postTitle, body);
                ValidateData(dto);
                await postService.CreateAsync(dto);
                navMgr.NavigateTo("/ViewPosts");
            }
            catch (Exception e)
            {
                Console.WriteLine(e);
                msg = e.Message;
            }

    }
    private static void ValidateData(PostCreationDto postToCreate)
    {
        string title = postToCreate.Title;
        string body = postToCreate.Body;

        if (title.Length < 3)
            throw new Exception("Title must be at least 3 characters!");

        if (title.Length > 50)
            throw new Exception("Title must be less than 50 characters!");

        if (body.Length < 3)
            throw new Exception("Body must be at least 3 characters!");

        if (body.Length > 150)
            throw new Exception("Body must be less than 150 characters!");
    }
}