@page "/"
@inject NavigationManager navMgr

<PageTitle>Index</PageTitle>

<h1>Log in or Register to join the forum!</h1>
<button @onclick="@(() => navMgr.NavigateTo("/login"))">Log in / Register</button>

