@page "/"
@inject NavigationManager navMgr

<PageTitle>Index</PageTitle>

<h1>Log in or Register to join the forum!</h1>
<div class="button-row">
<button @onclick="@(() => navMgr.NavigateTo("/login"))" class="acceptbtn">Log in / Register</button>
</div>
