@page "/PostPage/{Title}"
@using Domain.DTOs
@using BlazorApp.Services.ClientInterfaces
@inject IPostService postService
@inject NavigationManager navMgr
<h3>Post</h3>

@if (currentpost == null)
    {
        <label>Loading Post data..</label>
    }
    else
    {
        <div class="container bg-light col-6">
            <div class="border-bottom border-1">@currentpost.UserName</div>
            <div class="border-bottom border-1">@currentpost.Title</div>
            <div>@currentpost.Body</div>
        </div>
        
    }
<div class="button-row">
<button @onclick="@(() => navMgr.NavigateTo("/ViewPosts"))" class="acceptbtn">Go back</button>
</div>
@code {
    [Parameter]
    public string Title { get; set; }
    
    private string msg = "";
    private PostCreationDto currentpost;
    
    protected override async Task OnInitializedAsync()
    {
        msg = "";
        try
        {
            
           currentpost= await postService.GetByTitleAsync(Title);
           
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            msg = e.Message;
        }
    }
}