@page "/PostPage/{Title}"
@using Domain.Models
@using Domain.DTOs
@using BlazorApp.Services.ClientInterfaces
@inject IUserService userService
@inject IPostService postService
@inject NavigationManager navMgr
<h3>Post</h3>

@if (users == null)
    {
        <label>Loading users...</label>
    }
    else if (!users.Any())
    {
        <label>No users, you cannot create a Post</label>
    }
    else if (currentpost == null)
    {
        <label>Loading Post data..</label>
    }
    else
    {
        <div>
            <div>@currentpost.UserName</div>
            <div>@currentpost.Title</div>
            <div>@currentpost.Body</div>
        </div>
    }
@code {
    [Parameter]
    public string Title { get; set; }
    
    private string msg = "";
    private IEnumerable<User>? users;
    private PostBasicDto currentpost;
    
    protected override async Task OnInitializedAsync()
    {
        msg = "";
        try
        {
            users = await userService.GetUsers();
                currentpost= await postService.GetByTitleAsync(Title);
            User currentlyAssigned = users.First(user => user.UserName.Equals(currentpost.UserName));
            

        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            msg = e.Message;
        }
    }
}