@page "/ViewPosts"
@using Domain.Models
@using HttpClients.ClientInterfaces
@inject IPostService postService
@attribute [Authorize]
<h3>ViewPosts</h3>

<div>
    <button @onclick="LoadPosts">Load</button>
</div>

@if (posts == null)
{
}
else if (!posts.Any())
{
    <p>No Todos to display</p>
}
else
{
    
        @foreach (var item in posts)
        {<div>
             <div>@item.</div>
             <div>@item.Title</div>
         </div>
        }
       
}
@if (!string.IsNullOrEmpty(msg))
{
    <label style="color: red">@msg</label>
}

@code {
    private IEnumerable<Post>? posts;
    private string msg = "";

    private async Task LoadPosts()
    {
        try
        {
            posts = await postService.GetAsync(null, null);
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            msg = e.Message;
        }
    }
}