@page "/ViewPosts"
@using Domain.Models
@using BlazorApp.Services.ClientInterfaces
@inject IPostService postService
@inject NavigationManager navMgr
@attribute [Authorize]
<h3>ViewPosts</h3>


<div>
    <button @onclick="LoadPosts">Load</button>
</div>

@if (posts == null)
{
}
else if (!posts.Any())
{
    <p>No Todos to display </p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>Title</th>
            <th>Username</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in posts)
        {
            <tr>
                <td>@item.Title</td>
                <td>@item.User.UserName</td>
                <td>
                    <img src="icons/view.gif" class="View" @onclick="@(() => navMgr.NavigateTo($"/PostPage/{item.Title}"))"/>
                </td>
            </tr>
        }
        </tbody>
    </table>
       
}
@if (!string.IsNullOrEmpty(msg))
{
    <label style="color: red">@msg</label>
}

@code {
    private IEnumerable<Post>? posts;
    private string? UserName = "";
    private string? titleContains = "";
    private string msg = "";

    private async Task LoadPosts()
    {
        try
        {
            posts = await postService.GetAsync(UserName,titleContains);
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            msg = e.Message;
        }
    }
    
    
}